@import "_variables";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;

  &.overlay::before {
    content: '';
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    background: rgb(118, 118, 122);
    z-index: 1;
    animation: 0.5s fadeIn;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}


:focus {
  outline: 1px solid rgb(37, 21, 32);
  outline-offset: 1px;
}

html {
  &.dark {
    :focus {
      outline: 1px solid rgb(184, 169, 182);
    }
  }
}

.skip-to-content {
  left: calc(50% - 100px);
  position: absolute;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content:focus {
  transform: translateY(10%);
}

.nav-icon {
  transition: all 0.5s ease-out;
}

.fluid-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.fluid-grid-4 {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.fluid-grid-spells {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.header-link {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;

  &:hover {
    @media(min-width: 640px) {
      box-shadow: 5px 5px #558abb77; 

      @media (prefers-reduced-motion: no-preference) {
        transform: translate(-2px, -2px);
      }
    }

    &::before {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 90%;
    top: 5%;
    left: -6px;
    z-index: -1;
    border-radius: 2px;
    transform: scaleY(0);
    transform-origin: center;
    transition: all 0.2s ease-in-out;
    background: rgb(124, 48, 79);
    
    @media (prefers-reduced-motion: reduce) {
      opacity: 0;
      transform: scaleY(1);
    }
  }
}