@import "_variables";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

// :focus {
//   outline: 1px solid rgb(37, 21, 32);
//   outline-offset: 1px;
// }

// html {
//   &.dark {
//     :focus {
//       outline: 1px solid rgb(184, 169, 182);
//     }
//   }
// }

.skip-to-content {
  left: calc(50% - 100px);
  position: absolute;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content:focus {
  transform: translateY(10%);
}

.nav-icon {
  transition: all 0.5s ease-out;
}

.fluid-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.fluid-grid-4 {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.fluid-grid-spells {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.header-link {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;

  &:hover {
    // decorative bar on hover
    &::before {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  // decorative bar
  &:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 90%;
    top: 5%;
    left: -6px;
    z-index: -1;
    border-radius: 2px;
    transform: scaleY(0);
    transform-origin: center;
    transition: all 0.2s ease-in-out;
    // color set with tailwind
    
    @media (prefers-reduced-motion: reduce) {
      opacity: 0;
      transform: scaleY(1);
    }
  }
}
