@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: #FDF7E4;
  --background-start-rgb: #FDF7E4;
  --background-end-rgb: #F9E8D9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #FDF7E4;
    --background-start-rgb: #FDF7E4;
    --background-end-rgb: #F9E8D9;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
